$base-color: #00a8ff;
$base-dark-color: darken($base-color, 10%);

$primary-color: #fbc531;
$primary-dark-color: darken($primary-color, 10%);

$secondary-color: #e84118;
$secondary-dark-color: darken($secondary-color, 10%);

$grey-color: #dcdde1;
